{% extends 'base.html' %}
{% load static %}

{% block head %}
   {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/> {% endcomment %}
{% endblock %}

{% block content %}
<div class="page-header">
   {% if object %}
         <h1>Edit {{object.name}}</h1>
      {% else %}
         <h1>Add a Plant</h1>
   {% endif %}
   {% comment %} create plant picture goes here {% endcomment %}
</div>
<form action="" method="post" class="form-container">
   {% csrf_token %}
   <table>
      {{ form.as_table }}
   </table>
   {% if object %}
      <button type="submit" class="btn submit">Submit</button>
      {% else %}
      <button type="submit" class="btn submit">Add</button>
   {% endif %}
</form>

{% endblock %}