{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} link stylesheet here {% endcomment %}
{% endblock %}

{% block content %}

<section class="plant-container">
   <div class="plant-img">
      {% comment %} default plant image here {% endcomment %}
   </div>
   <div class="plant-details">
      <h1>{{ plant.name }}</h1>
      <p>A ${{ plant.price }} {{ plant.type }} plant.</p>
      <p>{{ plant.description }}</p>
      <div class="plant-actions">
         <a href="{% url 'plants_update' plant.id %}" class="btn warn">Edit</a>
         <a href="{% url 'plants_delete' plant.id %}" class="btn danger">Sell</a>
      </div>
   </div>
</section>
{% comment %} Existing cat-container above {% endcomment %}
<div class="watering-fertilizer-container">
   <section class="watering">
      <div class="subsection-title">
         <h2>Watering History</h2>
      </div>
      <table>
         <thead>
            <tr><th>Date</th><th>Time of Day</th></tr>
         </thead>
         <tbody>
            {% for watering in plant.watering_set.all %}
            <tr>
               <td>{{watering.date}}</td>
               <td>{{watering.get_meal_display}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </section>
</div>

{% endblock %}