{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
   href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
   rel="stylesheet" 
/>
<script 
   src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js">
</script>
<link rel="stylesheet" href="{% static 'css/plant-detail.css' %}">
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="plant-container">
   <div class="plant-img">
      {% comment %} default plant image here {% endcomment %}
   </div>
   <div class="plant-details">
      <h1>{{ plant.name }}</h1>
      <p>A ${{ plant.price }} {{ plant.type }} plant.</p>
      <p>{{ plant.description }}</p>
      <div class="plant-actions">
         <a href="{% url 'plants_update' plant.id %}" class="btn warn">Edit</a>
         <a href="{% url 'plants_delete' plant.id %}" class="btn danger">Sell</a>
      </div>
   </div>
</section>
{% comment %} Existing plant-container above {% endcomment %}
<div class="watering-fertilizer-container">
   <section class="watering">
      <div class="subsection-title">
         <h2>Watering</h2>
      </div>
      <h3>Water your {{ plant.name }}</h3>
      <form
         action="{% url 'add_watering' plant.id %}"
         method="post" 
         class="subsection-content"
         autocomplete='off'
      >
         {% if plant.watered_for_today %}
            <p class='watered'>{{plant.name}} has been watered enough for today.</p>
         {% else %}
            <p class='needs-water'>{{plant.name}} is thirsty!</p>
         {% endif %}
         {% csrf_token %}
         {{ watering_form.as_p }}
         <button type="submit" class="btn submit">Submit</button>
      </form>
      <h3>History</h3>
      {% if plant.watering_set.all.count %}
      <table>
         <thead>
            <tr><th>Date</th><th>Time of Day</th></tr>
         </thead>
         <tbody>
            {% for watering in plant.watering_set.all %}
            <tr>
               <td>{{watering.date}}</td>
               <td>{{watering.get_tod_display}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% else %}
         <p class='subsection-content'>{{plant.name}} needs to be watered!!</p>
      {% endif %}
   </section>
   <section class="fertilizers">
      <div class="subsection-title">
         <h2>Fertilizers</h2>
         {% comment %} add small image here??? {% endcomment %}
      </div>
      <h3>{{ plant.name }}'s fertilizers</h3>
      <div class="subsection-content">
         {% if plant.fertilizers.count %}
            {% for fertilizer in plant.fertilizers.all %}
               <div class="fertilizer-container">
                  <div 
                     class="color-block"
                     style="background-color: {{ fertilizer.color }}"
                  ></div>
                  <a href="{% url 'fertilizers_detail' fertilizer.id %}">
                     <p>{{ fertilizer.name }} that {{ fertilizer.effects }}</p>
                  </a>
               </div>
            {% endfor %}
         {% else %}
            <p class="no-fertilizers">{{plant.name}} doesn't have any fertilizer...</p>
         {% endif %}
      </div>
      <h3>Available Fertilizers</h3>
      <div class="subsection-content">
         {% if fertilizers.count %}
            {% for fertilizer in fertilizers.all %}
               <div class="fertilizer-container">
                  <div 
                     class="color-block"
                     style="background-color: {{ fertilizer.color }}"
                  ></div>
                  <a href="{% url 'fertilizers_detail' fertilizer.id %}">
                     <p>{{ fertilizer.name }} that {{ fertilizer.effects }}</p>
                  </a>
                  <form action="{% url 'assoc_fertilizer' plant.id fertilizer.id %}" method="post">
                     {% csrf_token %}
                     <button type="submit" class="btn submit">Give Fertilizer</button>
                  </form>
               </div>
            {% endfor %}
         {% else %}
            <p class="all-fertilizers">
               {{plant.name}} already has all the available fertilizers... quite dangerous...
            </p>
         {% endif %}
      </div>
   </section>
</div>

{% endblock %}