{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Farming Simulator</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
   {% comment %} <link
   rel="shortcut icon"
   type="image/png"
   href="{% static 'images/splash.svg' %}"
   > {% endcomment %}
   {% block head %}
   {% endblock %}
</head>
   <body>
      <header>
         <a class='title-logo' href="/">
            <h1>Farming Simulator</h1>
            farming simulator
         </a>
         {% comment %} <div class="header-logo-container">
         </div> {% endcomment %}
         <nav>
            <ul>
               {% if user.is_authenticated %}
                  <li><a href="{% url 'plants_index' %}">View All Plants</a></li>
                  <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                  <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                  <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'logout' %}">Log out</a></li>
                  {% else %}
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'home' %}">Login</a></li>
                  <li><a href="{% url 'signup' %}">Sign Up</a></li>
               {% endif %}
            </ul>
         </nav>
      </header>
      <main>
      {% block content %}
      {% endblock %}
      </main>
   </body>
</html>